<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <form action="#" class="menu">
        <div>
            <button class="motorista_m" type="submit">Cadastrar Motorista</button>
        </div>
        <div>
            <button class="carro_c" type="submit">Cadastrar Carro</button>
        </div>
        <div>
            <button class="m_cadastrados" type="submit">Motoristas Cadastrados</button>
        </div>
        <div>
            <button class="c_cadastrados" type="submit">Carros Cadastrados</button>
        </div>

        <div>
            <button class="emprestar" type="submit">Emprestar</button>
        </div>
        <div>
            <button class="devolver" type="submit">Devolver</button>
        </div>

</body>

</html>